body {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.927);
}

.tictactoe {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  margin-top: 5%;
  text-align: center;
}

tr {
  display: flex;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  width: 125px;
  height: 125px;
  border: 3px #a1a1a1 solid;
  color: #eee5e9;
  margin: 0 -3px -3px 0;
}

.info,
.resetBtn {
  margin-top: 5%;
}

.jogadores,
.pontos {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 30%;
  font-size: 1.5em;
  color: #eee5e9;
}
